:root{
  --gray-color: #868C92;
  --blue-color: #247BA0;

};

* {
  margin: 0px; 
  padding: 0px;
}

.div__menu {
  display: flex;
  align-items: left;
  flex-direction: column;
  border: 2px solid var(--gray-color);
  width: 200px;
  background-color: var(--gray-color);
  font-size: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}

a {
  color: white;
  text-decoration: none;
  padding: 30px 0px 30px 0px;
  display: flex;
  align-items: center;
}

.img__user {
  height: 100px;
  margin-left: 25%;
}

.menu__user {
  text-align: center;
}

.img__menu {
  margin: 5px;
}

.label__menu {
  padding-left: 10px;
}

.label__title
{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  border-bottom-style: solid; 
  border color: gray;
  color: var(--blue-color);
}
